<h2>Remotes</h2>
<% @remotes.each do |remote| %>
	<h3><%= remote.name %></h3>
	<% remote.commands.each do |command| %>
		<button id="<%= command.id %>" class="command"><%= command.name %></button>
	<% end %>
<% end %>
